body {
  font-family: "Early GameBoy", Roboto, Helvetica, Arial, sans-serif;
  text-align: center;
  padding-top: 20px;
  background-color: #FFFCE8;
  color: rgb(0,9,102);
}

@font-face {
  font-family: "Early GameBoy";
  src: url("src/Early GameBoy.ttf") format("ttf");
 }

video {
  max-width: 90%;
  min-width: 50%;
  max-height: 50%;
  border-radius: 7px;
  box-shadow: 2px 2px 3px #666B6A;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-image: url("/Users/juthomas/Documents/Electonics/RC-Project-Electron/src/depositphotos_325097206-stock-illustration-old-retro-video-game-background.jpg");
}

@media screen and (min-width: 2000px) {
  video {
    width: 60%;
    height: auto;
  }
}

.port-div {
  margin: 50px;
  text-align: center;
}

.ctrl-div {
  display: flex;
  width:100%;
  justify-content: space-evenly;
}


.progress_div
{
  position: relative;
  width: 90px;
  height: 90px;
  color: rgb(0,9,102);
}


.ctrl-button {
  width: 60px;
}

.ctrl-progress {
  width: 50px;
}


#upProgress {
  -webkit-transform: rotate(-90deg);
  position: absolute;
  top: 0px;
  left: 30px;
}
#downProgress {
  -webkit-transform: rotate(90deg);
  position: absolute;
  top: 60px;
  left: 30px;
}

#leftProgress {
  -webkit-transform: rotate(180deg);
  position: absolute;
  top: 31px;
  left: 0px;
}
#rightProgress {
  position: absolute;
  top: 31px;
  left: 60px;
}


button {
  font-family: "Early GameBoy", Roboto, Helvetica, Arial, sans-serif;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 7px;
  max-width: 300px;
  max-height: 25px;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: 2px 2px 3px #666B6A;
}

#videoSelectBtn
{
  color: #94012C;
}

#cameraSelectBtn
{
  color: #2D288B;
}

#inputSelectBtn
{
  color: #639D01;
}

#startBtn
{
  color: #C8A601;
}

#stopBtn
{
  color: #00766A;
}

.input
{
  padding: 7px;
  margin: 5px;
  border-radius: 7px;
  font-family: "Early GameBoy", Roboto, Helvetica, Arial, sans-serif;
  text-align: center;
  box-shadow: 1px 1px 10px #666B6A;
}